.DS_Store
**/.DS_Store
**/bin/
**/obj/
**/node_modules/
**/dist/
**/dist-ssr/
**/.vs/
**/.idea/
**/.vscode/
*.log
*.user
*.suo
*.cache
Artifact/wwwroot/**
Artifact/wwwroot/index.html
Artifact/wwwroot/assets/index.css
Backend/DynamicTransaction/obj
